Introduction

This analysis will look at games sold from the mid 1980's to the mid 2010's of the current consoles of that time. We will also look at the games sold on the PlayStation 4 to help see the sales of games on just one console, along with IGN's best games.

Here are the areas that will be looked at specifically:

1) Game title
2) Year the game came out
3) Genre of the game
4) How much the game sold in some countries
5) Along with the platform the game is sold on

Applying the libraries

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import chardet

Loading the Data and Cleaning What Needs to be Editted Out

In [9]:
with open('PS4_GamesSales.csv', 'rb') as f:
    result = chardet.detect(f.read())
    encoding = result['encoding']
playstation = pd.read_csv('PS4_GamesSales.csv', encoding=encoding)



# Displaying the first top ten games sold to view.

playstation.head()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [10]:
platform = pd.read_csv('vgsales.csv')

platform.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [11]:
# Making the dataframe name for the vgchartz csv.
games_2024 = pd.read_csv('vgchartz-2024.csv')


# Displaying the first ten games on the csv that goes to 2024.

games_2024.head(10)

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14
5,/games/boxart/full_call-of-duty-modern-warfare...,Call of Duty: Modern Warfare 3,X360,Shooter,Activision,Infinity Ward,8.7,14.82,9.07,0.13,4.29,1.33,2011-11-08,NaN
6,/games/boxart/full_call-of-duty-black-ops_5Ame...,Call of Duty: Black Ops,X360,Shooter,Activision,Treyarch,8.8,14.74,9.76,0.11,3.73,1.14,2010-11-09,NaN
7,/games/boxart/full_4653215AmericaFrontccc.jpg,Red Dead Redemption 2,PS4,Action-Adventure,Rockstar Games,Rockstar Games,9.8,13.94,5.26,0.21,6.21,2.26,2018-10-26,2018-11-02
8,/games/boxart/full_1977964AmericaFrontccc.jpg,Call of Duty: Black Ops II,X360,Shooter,Activision,Treyarch,8.4,13.86,8.27,0.07,4.32,1.20,2012-11-13,2018-04-07
9,/games/boxart/full_4649679AmericaFrontccc.png,Call of Duty: Black Ops II,PS3,Shooter,Activision,Treyarch,8.0,13.80,4.99,0.65,5.88,2.28,2012-11-13,2018-04-07

This data set contained images that did not show on vs code, only giving the url to these pictures of the games. Dropped the column that used the images helps with visualization when looking at the chart. Along with dropping the picture column, four other columns were dropped: na_sales, jp_sales, pal_sales and other_sales. I wanted to get the total sales of the games all together, not what countries had the sales of the specific games.

In [12]:
drop = ['img', 'developer', 'critic_score', 'total_sales', 'jp_sales', 'pal_sales', 'other_sales', 'last_update']

games_2024 = games_2024.drop(columns=drop)

games_2024.head()

,title,console,genre,publisher,na_sales,release_date
0,Grand Theft Auto V,PS3,Action,Rockstar Games,6.37,2013-09-17
1,Grand Theft Auto V,PS4,Action,Rockstar Games,6.06,2014-11-18
2,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,8.41,2002-10-28
3,Grand Theft Auto V,X360,Action,Rockstar Games,9.06,2013-09-17
4,Call of Duty: Black Ops 3,PS4,Shooter,Activision,6.18,2015-11-06

In [13]:
drop = ['EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']

platform = platform.drop(columns=drop)

platform.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27

In [14]:
drop = ['Europe', 'Japan', 'Rest of World', 'Global']

playstation = playstation.drop(columns=drop)

playstation.head()

,Game,Year,Genre,Publisher,North America
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67
4,FIFA 18,2017.0,Sports,EA Sports,1.27

In [15]:
games_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         64016 non-null  object
 1   console       64016 non-null  object
 2   genre         64016 non-null  object
 3   publisher     64016 non-null  object
 4   na_sales      12637 non-null  float64
 5   release_date  56965 non-null  object
dtypes: float64(1), object(5)
memory usage: 2.9+ MB

In [16]:
games = pd.concat([games_2024,platform])

print(games)

                             title console    genre       publisher  na_sales  \
0               Grand Theft Auto V     PS3   Action  Rockstar Games      6.37
1               Grand Theft Auto V     PS4   Action  Rockstar Games      6.06
2      Grand Theft Auto: Vice City     PS2   Action  Rockstar Games      8.41
3               Grand Theft Auto V    X360   Action  Rockstar Games      9.06
4        Call of Duty: Black Ops 3     PS4  Shooter      Activision      6.18
...                            ...     ...      ...             ...       ...
16593                          NaN     NaN      NaN             NaN       NaN
16594                          NaN     NaN      NaN             NaN       NaN
16595                          NaN     NaN      NaN             NaN       NaN
16596                          NaN     NaN      NaN             NaN       NaN
16597                          NaN     NaN      NaN             NaN       NaN

      release_date     Rank                                              Name  \
0       2013-09-17      NaN                                               NaN
1       2014-11-18      NaN                                               NaN
2       2002-10-28      NaN                                               NaN
3       2013-09-17      NaN                                               NaN
4       2015-11-06      NaN                                               NaN
...            ...      ...                                               ...
16593          NaN  16596.0                Woody Woodpecker in Crazy Castle 5
16594          NaN  16597.0                     Men in Black II: Alien Escape
16595          NaN  16598.0  SCORE International Baja 1000: The Official Game
16596          NaN  16599.0                                        Know How 2
16597          NaN  16600.0                                  Spirits & Spells

      Platform    Year     Genre   Publisher  NA_Sales
0          NaN     NaN       NaN         NaN       NaN
1          NaN     NaN       NaN         NaN       NaN
2          NaN     NaN       NaN         NaN       NaN
3          NaN     NaN       NaN         NaN       NaN
4          NaN     NaN       NaN         NaN       NaN
...        ...     ...       ...         ...       ...
16593      GBA  2002.0  Platform       Kemco      0.01
16594       GC  2003.0   Shooter  Infogrames      0.01
16595      PS2  2008.0    Racing  Activision      0.00
16596       DS  2010.0    Puzzle    7G//AMES      0.00
16597      GBA  2003.0  Platform     Wanadoo      0.01

[80614 rows x 13 columns]

Dropping any columns that had NaN in them to better view.

In [17]:
print(games.dropna(how='all'))

                             title console    genre       publisher  na_sales  \
0               Grand Theft Auto V     PS3   Action  Rockstar Games      6.37
1               Grand Theft Auto V     PS4   Action  Rockstar Games      6.06
2      Grand Theft Auto: Vice City     PS2   Action  Rockstar Games      8.41
3               Grand Theft Auto V    X360   Action  Rockstar Games      9.06
4        Call of Duty: Black Ops 3     PS4  Shooter      Activision      6.18
...                            ...     ...      ...             ...       ...
16593                          NaN     NaN      NaN             NaN       NaN
16594                          NaN     NaN      NaN             NaN       NaN
16595                          NaN     NaN      NaN             NaN       NaN
16596                          NaN     NaN      NaN             NaN       NaN
16597                          NaN     NaN      NaN             NaN       NaN

      release_date     Rank                                              Name  \
0       2013-09-17      NaN                                               NaN
1       2014-11-18      NaN                                               NaN
2       2002-10-28      NaN                                               NaN
3       2013-09-17      NaN                                               NaN
4       2015-11-06      NaN                                               NaN
...            ...      ...                                               ...
16593          NaN  16596.0                Woody Woodpecker in Crazy Castle 5
16594          NaN  16597.0                     Men in Black II: Alien Escape
16595          NaN  16598.0  SCORE International Baja 1000: The Official Game
16596          NaN  16599.0                                        Know How 2
16597          NaN  16600.0                                  Spirits & Spells

      Platform    Year     Genre   Publisher  NA_Sales
0          NaN     NaN       NaN         NaN       NaN
1          NaN     NaN       NaN         NaN       NaN
2          NaN     NaN       NaN         NaN       NaN
3          NaN     NaN       NaN         NaN       NaN
4          NaN     NaN       NaN         NaN       NaN
...        ...     ...       ...         ...       ...
16593      GBA  2002.0  Platform       Kemco      0.01
16594       GC  2003.0   Shooter  Infogrames      0.01
16595      PS2  2008.0    Racing  Activision      0.00
16596       DS  2010.0    Puzzle    7G//AMES      0.00
16597      GBA  2003.0  Platform     Wanadoo      0.01

[80614 rows x 13 columns]

Getting the total amount of dollars in video games sales in North America alone.

In [21]:
Total = games['na_sales'].sum()
print(Total)

3345.52

Now getting the total of the top 5 games in America.

In [1]:
games.sum().nlargest(5)

NameError: name 'games' is not defined